<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <div id="Header">
        <h1>Gesetze.de</h1>
    </div>
    <div id="row">
        <div class="jumbotron col-xs-6 col-xs-offset-3">
            <h2>Tagesordnungspunkt 26</h2>
            <p>Beratung des Antrags der Fraktion DIE LINKE. Krankenhäuser gemeinwohlorientiert und bedarfsgerecht finanzieren</p>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                    60%
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 40%;">
                    40%
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="row">
        <div class="jumbotron col-xs-6 col-xs-offset-3">
            <h1>Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

</body>

</html>