#Header > h1 {
    color: white;
    text-shadow: 4px 4px 1px rgba(150, 150, 150, 1);
    font-size: 100px;
    border-radius: 100px;
    margin-top: 20px;
}

#Block {
    color: green;
    background-color: black;
}

#Bild {
    width: 300px;
    position: absolute;
    top: 0;
}

#Header {
    margin-top: 0;
    margin-left: 0;
    height: 300;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center top;
    padding-top: 97px;
    background-size: 100%;
    background-image: url("http://ema-hamburg.org/media/DE/akad/RTPG/2304-deutscher-bundestag.bmp")
}

body {
    width: 100%;
    margin: 0;
}

html {
    width: 100%;
}

#Kasten {
    border: 2px;
}

div.jumbotron > form > button {
    width: 100px;
}

div.progress {
    height: 40px;
}

div.progress > div.progress-bar {
    line-height: 40px;
}